.root {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.iconButton {
  width: 2rem;
  height: 2rem;
  transition: transform .2s linear;

  &:hover {
    transform: scale(1.15);
  }
}

.transparent {
  color: transparent;
}

.gray {
  background-color: rgba(32, 31, 30, 0.04);
}